
#category-nav {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#order {
    border: 0;
}

.order-card {
    padding: 0;
}

.order-image {
    max-height: 75px;
    margin-right: 1.25rem;
    margin-left: -3.25rem;
}

.secondary-content {
    color: black;
    font-size: 1.4rem;
}

.item-title {
    font-size: 1.4rem;
}

.card .card-image img {
    height: 300px;
	overflow: hidden;
}

nav ul a span.badge {
    background: green;
    color: white;
    margin-right: -1.5rem;
}

.login-button {
    width: 100%;
}

.google-icon {
    margin-right: 0rem;
    font-size: 1.1rem;
    vertical-align: bottom;
}

#or-div {
    margin-top: -10px;
    margin-bottom: -10px;
}
